.App {
  text-align: center;
}

.login  {
  margin-top: 5rem;
}



.toprightbutton{
  margin-left: 2px;
  margin-right: 2px;
}

.success {
  text-align: center;
  font-size: 1.8rem ;
  font-weight: bold;
  color: #28A745;
} 

.danger {
  text-align: center;
  font-size: 1.8rem ;
  font-weight: bold;
  color: red;
}



.fixed-right-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1030;
  margin: 0 0.5rem 0.5rem 0;
  border-radius: 50%;
}
.fixed-right-middle {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 1;
  margin: 0 0rem 0rem 0;
  border-radius: 50%;
}
.fixed-left-middle {
  position: fixed;
  left: 0;
  top: 50%;
  z-index: 1;
  margin: 0 0rem 0rem 0;
  border-radius: 50%;
}

.center {
  margin: auto;
  margin-top: 10%;
  width: 100%;
  border: 2px solid green;
  padding: 30px;
  border-radius: 25px;
  align-items: center;
}

.answerSurveyButtonMargin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.createSurDivMargin{
  margin-top: 20px;
}

.createSurCardMargin{
  margin: 7px;
}

.createSurUpDownDeleteMargin{
  margin-left: 2px;
  margin-right: 2px;
}
.createSurButtonMargin{
  margin-left: 4px;
  margin-right: 4px;
}

.createSurBetweenFormsMargin{
  margin : 1rem;
}

.questionDispDivMargin{
  margin-top: 4rem;
}

.questionDispCardMargin{
  margin-top : 7px;
}

.questionDispMultipleMargin{
  margin: 1rem;
}

.surveyCardColumnMargin{
  margin: 5rem;
}

.surveyCardButtonMargin{
  margin : 3px ;
}

